<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="">Practica de Angular</a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="menuNav">
      <div class="ms-auto d-flex flex-column flex-md-row gap-2 mt-3 mt-md-0">

        <button class="btn btn-outline-light" routerLink="">Home</button>
        <button class="btn btn-outline-light" routerLink="/punto1">Punto 1</button>
        <button class="btn btn-outline-light" routerLink="/punto2">Punto 2</button>
        <button class="btn btn-outline-light" routerLink="/punto3">Punto 3</button>
        <button class="btn btn-outline-light" routerLink="/punto4">Punto 4</button>

      </div>
    </div>

  </div>
</nav>